@media screen and (max-width:1000px) {
	.nombre-us {
		margin-left: 5%;
	}
}
@media screen and (max-width:768px) {
	/* Inicia header
	=========================================*/
	.container>.nav-p {
		margin-left: 25px;
	}

	.bordes-form {
		border: none;
		margin: 0;
		padding: 5px 15px;
		margin: 1px;
	}	
	.nombre-us {
		margin-left: 0px;
	}
	.btn-crear {
		margin-left: 30%;
	}
}

@media screen and (max-width:685px) {

	.modal-content  {
		width: 80%;
	}

	.logo {
		width: 15%;
	}
	
}

@media screen and (max-width:540px) {

	.modal-content  {
		width: 60%;
	}
	#radio-cont2, #radio-cont1{
	width: 20%;
	}
}

@media screen and (max-width:415px) {

	.modal-content  {
		width: 45%;
	}
	#radio-cont2, #radio-cont1{
	width: 30%;
	}
	.conte {
		padding: 0px;
	}
	.nombre-us {
		margin-left: 7%;	
	}
	.logo {
		width: 15%;
	}
	.btn-crear {
		margin-left: 10%;
	}
}